
.about-container{
    padding-top: 110px;
    background-color:#F7FAFF;
    padding-bottom: 100px;

}
.about-container h1{
    display: flex;
    justify-content: center;
    font-family: gilroyBold;
    font-size: 50px;
    color:#0000A0

}

.about-container .p1{
    font-family: gilroyRegular;
    text-align: center;
    margin:50px 100px;
    color: #476788;
    font-size: 18px;
line-height: 32px;
letter-spacing: 1px;
font-weight: 100;
}
.about-container .p2{
    font-family: gilroyRegular;
    text-align: center;
    margin:0px 100px;
    margin-bottom: 50px;
    color: #476788;
    font-size: 18px;
line-height: 32px;
letter-spacing: 1px;
font-weight: 100;
}
.card-container{
    width: 100%;
    display: flex;
    padding: 0px 160px;
    display: flex;
    justify-content: space-between;

}
.card-container .cards{
width: 492px;
    margin:20px 0px;
    padding: 0px 20px;
    border: none;
    height: 770px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
border-radius: 10px;}
.card-container .cards:hover{

box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;

}
 .card-container .cards ul.nav-navbar li {
    font-size: 16px;
    color: #425466;
    font-family: gilroyRegular;
    line-height: 32px;
    text-transform: capitalize;
    list-style: none;
    margin-bottom: 10px;
  }
   
  
  
.card-container .cards h1 {
    font-family: gilroyRegular;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 31px;
    color:#0000A0;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px;
}


