/* .catchy-container {
    background-image: linear-gradient(to right,white,skyblue);
    padding-top: 150px;
    height: 700px;

}
.catchy-container h1{
    color: rgb(20, 31, 112);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.catchy-container {
    padding-top: 120px;
    padding-bottom: 80px;
background-color: rgb(255, 252, 252);

}

.catchy-container .out {
    height: 450px;
    width: 500px;
    margin-top: -250px;
}
.catchy-container .in {
    height: 140px;
    width: 110px;
    margin-top: -290px;
}


.catchy-container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 20px 100px;

}

/* .catchy-container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
} */
.catchy-container .left{
  padding-top: 0;
}
.catchy-container .left h1 {
    font-size: 68px;
    color:  #0000A0;
    padding: 20px;
    font-family: gilroyBold;
    Letter-spacing: -1px


}

.catchy-container .left h3 {
  font-size: 54px;
  line-height: 66px;
    color: #0B3558;
    font-weight: 700;
    padding: 10px 20px;
    font-family: gilroyMedium;
    Letter-spacing: 0px;
}



.catchy-container .left p {
    width: 520px;
    font-size: 20px;
    padding: 0px 20px;
    color: #476788;
    font-family: gilroyRegular;
    Letter-spacing: 1px;
    Line-height: 32px;
    text-transform: capitalize;
    margin-top: 16px;
    margin-left: -1px;
}

.catchy-container .left .btn {
    width: 172px;
    font-family: 'Gilroy-Regular', sans-serif;
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 100px;
    margin-top: 20px;
}

.catchy-container .right{
    /* padding:0px 200px ; */
    padding-right: 300px;
    padding-top: 100px;
}
.catchy-container .right .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }
  
  .catchy-container .right .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    border-radius: 5px;
    padding-left: -250px;
    /* background-size: cover; */

  }
  
  @keyframes spin1 {
    from {
      transform: rotate(0deg) translateX(280px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(280px) rotate(-360deg);
    }
  }
  
  .catchy-container .right .image-container img:nth-child(1) {
    animation: spin1 12s linear infinite;
  }
  
  .catchy-container .right .image-container img:nth-child(2) {
    animation: spin1 12s linear infinite;
    animation-delay: 2s;
  }
  
  .catchy-container .right .image-container img:nth-child(3) {
    animation: spin1 12s linear infinite;
    animation-delay: 4s;
  }
  
  .catchy-container .right .image-container img:nth-child(4) {
    animation: spin1 12s linear infinite;
    animation-delay: 6s;
    
  }
  
  .catchy-container .right .image-container img:nth-child(5) {
    animation: spin1 12s linear infinite;
    animation-delay: 8s;
    
  }
  .catchy-container .right .image-container img:nth-child(6) {
   animation: spin1 12s linear infinite;
   animation-delay: 10s;
 }