.footer-container{

    background-color:#F7FAFF;
    padding: 50px 100px;
}
.footer-container .row img{
    height: 70px;
    width: 150px;
    margin: 30px 0px;
}
.footer-container hr{
    color: #737373;
}
.footer-container .row ul{
    font-size: 17px;
    font-family: gilroyRegular;
    display: flex;  
    list-style: none;
    color:#C7C7C7;
}
.footer-container ul li{
    margin: 0px 20px;
    color: #056EE9;;
}
.footer-container .copy{
    display: flex;
    justify-content: space-between;
}
.footer-container .copy p{
    font-family: gilroyRegular;
    margin: 10px;
    color:#737373;
    font-size: 13px;
}
.footer-container .copy ul{
    font-family: gilroyRegular;
    display: flex;
    list-style: none;
}
.footer-container .copy ul li{
    color:#737373;
    font-size: 13px;
}