



 .lifee{
  display: flex;
  justify-content: center;
  font-family: gilroyBold;
  font-size: 50px;
  color:#0000A0;
  margin-top:20px;
  margin-bottom: 100px;

}


.firsthalfcontainer{
  width: 100%;
  position: absolute;
}
.sliderimages{
  
  position: absolute;
  left: 690px;
  transition: none;
}
.sliderimg{
  width: 598px; 
  height: 489px;
  margin: 0px 40px;  
  
}
.sliderimagesnone{
 display: none;
}
.sliderimg{
    animation-name: fade;
    animation-duration: 5s;
}
@keyframes fade{
    from{
        opacity: .12;
    }
    to{
        opacity: 5;
    }
}
.arrowcontainer {
  position: absolute;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  top: -30px;
  left: -370px;
  height: 600px;

  cursor: pointer;
  

}
.arrowcontainer:hover{
  color: #056EE9;;
}
.communame{
width:460px;
position:absolute;
top:75px;
left:-545px;
font-family: gilroyRegular;
line-height: 40px;
letter-spacing: 1px;
font-size: 28px;
color:#0000A0;
font-weight: 600;
}

.descriptioncontent{
  position: absolute;
  width: 460px;
  height: 300px;
  left: -545px;
  top: 250px;
color: #425466;
 font-family: gilroyMedium;
 font-size: 18px;
 line-height: 30px;
 letter-spacing: 1px;
 font-weight: 500;
 /* text-transform: lowercase; */
 

}






