
.why-container .items .selected {
    color: #056EE9;
    font-weight: 800;

   }
   .why-container .items{
    display:flex;
    justify-content: center;
    align-items: center;

   }
   .why-container .items ul li{
    padding: 60px 0px;
    color:#96A9BC;
list-style: none;
font-size: 23px;
cursor: pointer;
font-family: gilroyMedium;
white-space: 1000px;
letter-spacing: 1px;
   }
   .why-container .description{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    padding-right: 30px;
    font-family: gilroyRegular;
    color: #425466;

   }
   .why-container .description p{
    /* padding: 5px; */
    line-height: 30px;
    padding: 20px 0px;
    font-size: 18px;
    text-indent: 10px;
    /* text-transform: none; */
    letter-spacing: 1px;

   }
   .why-container .vertical-line {
    border-left: 5px solid #056EE9;
    height: 718px; /* adjust height as needed */
    margin-right: 70px;
    margin-top: -40px;
    border-radius: 2px;

  }
  .why-container{
    padding:100px 200px;
  }
  .why-container h1{
    display: flex;
    justify-content: center;
    font-family: gilroyBold;
    font-size: 43px;

padding-bottom: 50px;
    color:#0000A0;
  }